.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.homeLayout {
  display: flex;
  flex-direction: row;
}

.leftSection {
  width: 30vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vh;
  margin-top: 5vh;
  position: fixed;
  float: left;
}

.rightSection {
  width: 70vw;
  margin-left: 30vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.talentCard {
  height: 30vh;
  width: 30vh;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 5px;
  border: 1px solid #d1d1d1;
  margin: 3%;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.talentCard > div {
  margin-top: 2vh;
  margin-left: 3vh;
}

.talentCardContainer {
  margin-top: 4vh;
  width: 65vw;
  display: flex;
  flex-direction: row;
  gap: 2vw;
  flex-flow: row wrap;
}

.talentCardContents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchBar > h3 {
  text-align: center;
}

.searchBar > input {
  width: 18vw;
  height: 5vh;
  border-radius: 5px;
}

.noResults {
  display: flex;
  justify-content: center;
  margin-top: 15%;
}
